.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 6vmin;
  position: absolute;
  pointer-events: none;
  top: 29rem;
  left: 28.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  font-size: 1.324rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body,
html,
#root{
  height: 100%;
}
.bg-work{
  background-color: #f5f5dc;
  background-image: url(./pngwing.webp);
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: 4rem 14rem;
  background-attachment: initial;
}
@media (max-width: 970px){
  .bg-work{
    background-size: 55%;
    background-position: 4rem 16rem;
  } 
}
@media (max-width: 770px){
  .bg-work{
    background-size: 80%;
    background-position: 4rem 16rem;
  }

}
@media (max-width: 575px){
  .bg-work{
    background-size: 100%;
    background-position: 0rem 12rem;
  }
}
@media (max-width: 415px){
  .bg-work{
    background-size: 100%;
    background-position: 0rem 12rem;
  }
}
.task{
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  margin-right: 1px;
}
.button{
  background: rgb(71, 239, 160);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}
li{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.li-align{
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #5bebdd;
  padding-left: 1rem;
}
.li-align input{
  margin-left: -0.5rem;
  width: 2rem;
  height: 2rem;
}
.li-display{
  width: 100%;
  color: white;
}
.task-container{
    align-items: center;
    margin-top: 9rem;
    font-size: 1.324rem;
    color: black;
}
@media (max-width: 575px){
  .App-header{
    margin-top: 5rem;
  }
  .task-container{
    margin-top: -15rem !important;
  }
}
@media (max-width: 415px){
  .App-header{
    margin-top: 5rem;
  }
  .task-container{
    margin-top: -15rem !important;
  }
}
.ul-task{
  list-style: none;
  max-width: 90%;
  margin-left: 3rem;
}
@media (max-width: 975px){
  .ul-task{
    list-style: none;
    margin: auto;
  }
}
@media (max-width: 575px){
  .ul-task{
    list-style: none;
    margin: auto;
  }
}
  
@media (max-width: 415px){
  .ul-task{
    list-style: none;
    margin: auto;
  }
}
.bold{
  font-weight: bold;
}